{%extends 'layout.html'%}

{%block content %}
{%load static%}

<div class="row bg-black">

    <div class="col-4">
        <img src="{% static 'portfolio/perfil.jpeg' %}" class=" img-fluid border-radius:50%" alt=""/>
    </div>

    <div class="col-md-8 my-auto">
        <h1> I am <strong>Frnacisco Chacon</strong></h1>
        <h3>Soy un Desarrollador en python</h3>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, quasi 
            dolorem deleniti, obcaecati eum molestias necessitatibus eveniet vitae ullam ea, ex 
            dicta tenetur fugiat! Delectus deserunt eaque quod animi id vel ratione error quam 
            impedit totam officiis explicabo laudantium, cupiditate, quaerat temporibus atque deleniti
             alias. Quisquam provident autem minima distinctio nostrum voluptatum atque officiis minus quae
              error id, sit quo commodi nemo sequi, magni eos aut sint praesentium a. Rem dolore suscipit 
              doloribus incidunt hic dolorum, maiores excepturi eligendi dignissimos praesentium corporis 
              similique quidem sequi eos iste itaque consequuntur obcaecati aspernatur voluptas voluptate quo 
              error, iure delectus. Odio, perspiciatis repellat.</p>
        <a href="{% static 'portfolio/cvFranciscoChacon-2.pdf' %}" target="_blank" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>

</div>

<div class="row my-4 text-center">
    <h2>My Projects</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, soluta!</p>



{% for project in projects %}
<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top">
        <div class="card-body">
            <h2>{{project.title}}</h2>
            <p>{{project.description}}</p>
            

            {% if project.url %}
                <a class="btn btn-light rounden-0 bt-sm" target="_blank" href="{{project.url}}">{{project.url}}</a>
            {%endif%}
        </div>
    </div>
</div>


{% endfor %}

{%endblock%}
</div>